html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: large;
}

body {
  color: #ffffff;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 0.3s ease-in-out;
  /* Add transition effect to the background position */
  /*background: linear-gradient(-45deg, #000000, #1d2531, #182230, #000000);*/
  animation: pulse 10s infinite;
  background: #1d2531;
  background-size: 400% 400%;
  height: 100%;
}


@keyframes pulse {
  0% {
    background-color: #1d2531;
  }

  50% {
    background-color: #14253f;
  }

  100% {
    background-color: #1d2531;
  }
}


/* Center the container element vertically and horizontally */
.helloworldcontainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helloworldcontainer img {
  width: 40%;
}

.helloworld {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  min-width: 400px;
  min-height: 75px;
}

/*
.helloworld:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
  font-family: 'Roboto Mono', monospace;
}
*/







.form-container {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  padding: 20px;
  border-radius: 4px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  /* Set light gray background color for form fields */
  color: #333333;
  /* Set text color for form fields */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Shadow properties */
  resize: vertical;

}

a {
  text-decoration: none;
  position: relative;
  color: white;
}

/*a:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #ffffff;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .2s ease-out;
}

a:hover:after {
  transform-origin: left top;
  transform: scale(1, 1);
}
*/


.form-group button {
  background-color: #222e42;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  /* Shadow properties */
}

.form-group button:hover {
  background-color: #131924;
}

/* WebKit (Chrome, Safari, and Opera) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #0000007a;
  border-radius: 4px;
}

  /* Style scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }

.lorem {
  margin-left: 20%;
  max-width: 60%;
  margin-right: 20%;
  text-align: center;
}

.meme-link-container {
  margin-left: 20%;
  max-width: 60%;
  margin-right: 20%;
  text-align: center;
}


.meme-link {
  width: 100%;
  border: 5px solid #ccc;
  border-radius: 8px;
  display: flex;
  background-color: #1d355a;
}

.meme-link-preview {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: flex-start;
}

.meme-link-text {
  flex-direction: column;
  text-align: left;
}

.meme-link-title {
  margin-left: 20px;
  margin-top: 5px;
}

.meme-link-description {
  margin-left: 20px;

}

.meme-link a:hover:after {
  transform: scale(0, 0);
}




@media (max-width: 767px) {
  /* Target mobile screens up to 767px wide */

  h1 {
    font-size: 20vw;
    margin-left: 10%;
  }

  p {
    font-size: 20px;
    width: 100%;
  }

  .helloworldcontainer img {
    width: 90%;
  }

  .form-container {
    font-size: 30px;
    margin: 5px;
    max-width: 90%;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    height: 50px;
    color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    resize: vertical;
    font-size: 30px;
  }

  .form-group textarea {
    height: 70px;
  }

  .form-group button {
    font-size: 50px;
    background-color: #222e42;
    color: rgb(255, 255, 255);
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .social {
    font-size: 50px;
  }

  .lorem {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;

  }

  .meme-link-description {
    flex-direction: column;
    text-align: left;
    font-size: 0.1px;
  }

  .button-container {
    display: none;
  }

  .home-button {
    display: none;
  }
  
  .share-button {
    display: none;
  }

  .meme {
    max-width: 100%;
  }
  

}


footer {
  width: 100%;
}

/*styles for the lotr-memes page*/

.meme {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline-color: black;
  outline-width: 8px !important;
  outline-style: solid !important;
  background-color: #1d2531;
  margin-top: 80px;
  margin-bottom: 20px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
  width: auto;
}

.meme img {
  width: 50%;
  height: 50%;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
}


.caption {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
  font-style: italic;
}


.disclaimer {
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  margin-top: 10px;
}


/*
.button-container {
  position: fixed; 
  left: 0;    
  top: 0;
  margin: 10px;  /* Add some margin around the button container 
}

.home-button {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-decoration: none;  /* Remove default link underline 
  opacity: 0.5;
}

.share-button {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  text-decoration: none;  /* Remove default link underline 
  opacity: 0.5;
  margin-top: 10px;
}

*/



.about {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 50px;
}

.social_icon {
  width: 40px;
  height: 40px;
  margin: 0 10px; /* Adjust for spacing between links */
  cursor: pointer;
}


.projects {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between; /* This will space out the child divs evenly */
  align-items: center; /* This will vertically align the child divs in the middle */
  align-items: flex-start;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: lightgray;
  color: black;
  border-radius: 10px;
  width: 30%;
  height: 100%;
} 

.card img {
  border-radius: 10px 10px 0 0;
}
.card a {
  color: black;
}

.card:hover {
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container {
  padding: 2px 16px;
}

.written_content {
  margin-left: 10%;
  margin-right: 10%;
}

.filterDiv {
  float: left;
  border-radius: 10px;
  text-align: center;
  margin: 2px;
  margin-bottom: 10px;
  display: none;
  min-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  height: 100px;
  position: relative;
  overflow: hidden;
}

.filterDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: blur(0px);
}

.title_link {
  background-color: rgba(255, 255, 255, 0.534);
  /*background-color: rgba(211, 211, 211, 0.479);*/
  color: #000000;
  transition: 0.5s;
  filter: blur(0px);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 5px;
  text-align: center;
}

/*.title_link:hover {
  background-color: white;
}*/

.filterDiv:hover img {
  transition: .5s;
  filter: blur(0px);
}

.filterDiv img {
  transition: .5s;
  filter: blur(3px);
}

.filterDiv:hover .title_link {
  filter: blur(20px);
  color: #ffffff00;
  background-color: #ffffff00;
}

.show {
  display: block;
  max-width: 100%;
}

.filter_container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

.written_content ::-webkit-scrollbar {
  width: 10px;
}

/* Style scrollbar track */
.written_content ::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Style scrollbar thumb */
.written_content ::-webkit-scrollbar-thumb {
  background-color: #131313;
  border-radius: 5px;
}

/* Style scrollbar thumb on hover */
.written_content ::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  background-color: white;
}

.btn.active {
  background-color: black;
  color: white;
}





.percentage_container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background-color: #00000000;
  color: white;
  backdrop-filter: blur(10px);

}

.percentage_container p {
  display: flex;
  align-items: center;
  justify-content: center;
}




.collapsible {
  background-color: #353535;
  color: white;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 20px;
  width: 20%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.active, .collapsible:hover {
  background-color: #131313;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f100;
}

.matrix_link {
  background-color: #353535;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 20px;
  width: 30%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
}