html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
  }
  
  body {
    color: #ffffff;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-position 0.3s ease-in-out;
    /* Add transition effect to the background position */
    /*background: linear-gradient(-45deg, #000000, #1d2531, #182230, #000000);*/
    animation: pulse 10s infinite;
    background: #1d2531;
    background-size: 400% 400%;
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  
  @keyframes pulse {
    0% {
      background-color: #1d2531;
    }
  
    50% {
      background-color: #14253f;
    }
  
    100% {
      background-color: #1d2531;
    }
  }
  

  a {
    text-decoration: none;
    position: relative;
    color: lightblue;
  }
  
  .content a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: white;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform .2s ease-out;
  }
  
  .content a:hover:after{
    transform-origin: left top;
    transform: scale(1, 1);
  }
  




.navhome {
    width: 80px;
    transition: 0.5s;
}

.navhome:hover {
    margin-left: 15px;
}

.navhome img {
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-right: 5px;
  float: left;
  transition: 0.5s;
}

.navhome:hover img {
    padding-right: 5px;
}

.title {
    display: flex;
    justify-content: center;
}



.article-info {
  display: flex;
}

.author {
    display: flex;
    align-items: center;
    transition: 0.5s;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: fit-content;
    cursor: pointer;
}

.author:hover {
    background-color: rgba(0, 0, 0, 0.514);
    margin-top: 0px;
    margin-bottom: 20px;
}


.author img {
    height: 50px;
    width: 50px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.author h2 {
    margin-left: 10px;
    margin-bottom: 20px;
}


.copylink {
  transition: 0.5s;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  width: fit-content;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 30px;
}



.copylink img {
  height: 30px;
  width: 30px;
  border-radius: 7px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content {
    background-color: rgba(128, 128, 128, 0.377);
    border-radius: 20px;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content img {
    width: 75%;
    max-height: 75%;
    border-radius: 10px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 0.5s;
}

.content img:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.content p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content h3 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}




@media (max-width: 767px) {
    /* Target mobile screens up to 767px wide */
  
    body {
      margin-left: 0%;
      margin-right: 0%;
    }
  
    .content {
      margin-left: 5px;
      margin-right: 5px;
    }
    
  
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Style scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* Style scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #00000060;
    border-radius: 5px;
  }
  
  /* Style scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #000000;
  }



